//VARIABLES
$Soft-Blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main: hsl(217, 54%, 11%);
$Very-dark-blue-card: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: $Very-dark-blue-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: $Very-dark-blue-card;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 600px;
  padding: 25px;
  border-radius: 10px;

  .image-container {
    background-color: $Cyan;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;

    .cube {
      width: 100%;
      cursor: pointer;
      border-radius: 10px;
    }
    .eye {
      position: absolute;
      z-index: 20;
      visibility: hidden;
    }
  }
  .image-container:hover .cube {
    opacity: 0.5;
  }
  .image-container:hover .eye {
    visibility: visible;
  }

  .info-container {
    width: 100%;
    margin: 20px 0 0 0;
    h1 {
      font-size: 25px;
      color: $White;
      cursor: pointer;
    }
    h1:hover {
      color: $Cyan;
    }
    p {
      color: $Soft-Blue;
      margin: 20px 0 0 0;
      width: 90%;
    }
  }

  .price-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
    .ethereum {
      color: $Cyan;
    }
    .time-left {
      color: $Soft-Blue;
    }
  }
  .line {
    width: 100%;
    border: 1px solid $Very-dark-blue-line;
    margin: 20px 0 0 0;
  }
  .creator-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 0;

    img {
      width: 40px;
      border: 2px solid $White;
      border-radius: 50%;
    }
    p {
      color: $Soft-Blue;
      margin-left: 20px;
      span {
        color: $White;
        cursor: pointer;
      }
      span:hover {
        color: $Cyan;
      }
    }
  }
}
