* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background-color: #14253d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 375px;
  height: 600px;
  padding: 25px;
  border-radius: 10px;
}

.container .image-container {
  background-color: #00fff7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.container .image-container .cube {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.container .image-container .eye {
  position: absolute;
  z-index: 20;
  visibility: hidden;
}

.container .image-container:hover .cube {
  opacity: 0.5;
}

.container .image-container:hover .eye {
  visibility: visible;
}

.container .info-container {
  width: 100%;
  margin: 20px 0 0 0;
}

.container .info-container h1 {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.container .info-container h1:hover {
  color: #00fff7;
}

.container .info-container p {
  color: #8bacda;
  margin: 20px 0 0 0;
  width: 90%;
}

.container .price-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.container .price-container .ethereum {
  color: #00fff7;
}

.container .price-container .time-left {
  color: #8bacda;
}

.container .line {
  width: 100%;
  border: 1px solid #2f415b;
  margin: 20px 0 0 0;
}

.container .creator-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
}

.container .creator-container img {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.container .creator-container p {
  color: #8bacda;
  margin-left: 20px;
}

.container .creator-container p span {
  color: white;
  cursor: pointer;
}

.container .creator-container p span:hover {
  color: #00fff7;
}

.attribution {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  color: #8bacda;
}

.attribution a {
  color: white;
}

.attribution a:hover {
  color: #00fff7;
}
/*# sourceMappingURL=index.css.map */